{% extends 'base.html' %}

{% block title %}
<h2>Tournament {{ tournament.name }} - {{ tournament.year }}</h2>
{% endblock %}

{% block content %}
{% if error_message != None %}
<div>
    <p>{{ error_message }}</p>
</div>
{% else %}
<div>
    {% for match in match_list %}
    {% if forloop.counter0|divisibleby:"3" %}
    <div class="row">
        <div><h3>Round {{ match.cup_round}}</h3></div>
    {% endif %}
        <div class="col-sm-4 border border-dark">
            <div class="card border border-dark mb-3"> <!--style="width: 25rem;"-->
                <div class="card-body">
                    <h4 class="card-title">{{ match.date }}</h4>
                    <h4 class="card-subtitle mb-2 text-muted">{{ match.home_team }} vs {{ match.away_team }}</h4>
    {% if match.date > date_now %}
                    <a href="/bets/mbet_add/{{ match.tournament.id }}/match/{{ match.id }}/" class="btn btn-primary stretched-link">Parier</a>
    {% endif %}
                </div>
            </div>
            </a>
        </div>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}



