{% extends "base.html" %}

{% block title %}
<h2>Liste des Paris</h2>
{% endblock %}

{% block content %}
<script>
/*$(document).ready(function(){
    $(".toggler").click(function(e){
        e.preventDefault();
        $('.round'+$(this).attr('data-betwit-round')).toggle();
    });
});*/
</script>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#matchbet">Paris sur les matchs</a></li>
  <li><a data-toggle="tab" href="#tournamentbet">Paris sur le classement</a></li>
</ul>
<div class="tab-content">
  <div id="matchbet" class="tab-pane fade in active table-responsive">
    <table class="table table-condensed" width="100%" cellspacing="0">
    <!--table data-toggle="table"-->
      <thead>
        <tr>
          <th>Round</th>
          <th>Match</th>
          <th>Date</th>
          <th>&Eacute;quipe A</th>
          <th>Score A</th>
          <th>Essais A</th>
          <th>Bonus A</th>
          <th>Bonus B</th>
          <th>Essais B</th>
          <th>Score B</th>
          <th>&Eacute;quipe B</th>
          <th>Drop</th>
          <th>Carton</th>
          <th>Bagarre</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        {% for m in match %}
        <tr class="info" id="{{m.id}}">
          <td>{{m.cup_round}}</td>
          <td><a href="#" class="toggler" data-betwit-matchid="{{m.id}}">+</a></td>
          <td>{{m.date|date:'j-M H:i'}}</td>
          <td><img src="{{ MEDIA_URL }}{{ m.home_team.flag }}"</td>
          <td>{{ m.home_team_score|default_if_none:"0" }}</td>
          <td>{{ m.home_team_tries|default_if_none:"0" }}</td>
          <td>{{ m.home_team_bonus }}</td>
          <td>{{ m.away_team_bonus }}</td>
          <td>{{ m.away_team_tries|default_if_none:"0" }}</td>
          <td>{{ m.away_team_score|default_if_none:"0" }}</td>
          <td><img src="{{ MEDIA_URL }}{{ m.away_team.flag }}"</td>
          <td>{% if m.drop_goal %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{% if m.card %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{% if m.fight %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{{ m.odds }}</td>
        </tr>
          {% for b in bet %}
            {% if b.match.id == m.id %}
        <tr class="round{{m.id}}" style="display:none">
          <td></td>
          <td colspan="2">{{b.player.username|capfirst}}</td>
          <td>{% if b.home_team_score > b.away_team_score %}V{% elif b.home_team_score < b.away_team_score %}D{% else %}N{% endif %}</td>
          <td>{{ b.home_team_score|default_if_none:"0" }}</td>
          <td>{{ b.home_team_tries|default_if_none:"0" }}</td>
          <td>{{ b.home_team_bonus }}</td>
          <td>{{ b.away_team_bonus }}</td>
          <td>{{ b.away_team_tries|default_if_none:"0" }}</td>
          <td>{{ b.away_team_score|default_if_none:"0" }}</td>
          <td>{% if b.home_team_score > b.away_team_score %}D{% elif b.home_team_score < b.away_team_score %}V{% else %}N{% endif %}</td>
          <td>{% if b.drop_goal %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{% if b.card %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{% if b.fight %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{{b.points_won}}</td>
        </tr>
            {% endif %}
          {% endfor %}
        
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="tournamentbet" class="tab-pane fade table-responsive">
    <table class="table table-condensed" width="100%" cellspacing="0">
    <!--table data-toggle="table"-->
      <thead>
        <tr>
          <th>Joueur</th>
          <th>1er</th>
          <th>2e</th>
          <th>3e</th>
          <th>4e</th>
          <th>5e</th>
          <th>6e</th>
          <th>Grand chelem</th>
          <th>Cuiller de bois</th>
          <th>points</th>
        </tr>
      </thead>
      <tbody>
        {% for tb in tournamentbets %}
        <tr class="info" id="{{m.id}}">
          <td>{{ tb.player.username }}</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.first_team.flag }}"</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.second_team.flag }}"</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.third_team.flag }}"</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.fourth_team.flag }}"</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.fifth_team.flag }}"</td>
          <td><img src="{{ MEDIA_URL }}{{ tb.sixth_team.flag }}"</td>
          <td>{% if tb.grand_slam %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{% if tb.wooden_spoon %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          <td>{{ tb.points_won }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
