{% extends "base.html" %}
{% block content %}
<script>
/*$(document).ready(function(){
    $(".toggler").click(function(e){
        e.preventDefault();
        $('.round'+$(this).attr('data-betwit-round')).toggle();
    });
});*/
</script>
<div class="table-responsive">
  <table class="table table-condensed" width="100%" cellspacing="0">
  <!--table data-toggle="table"-->
    <thead>
      <tr>
        <th>Round</th>
        <th>Match</th>
        <th>Date</th>
        <th>&Eacute;quipe A</th>
        <th>Score A</th>
        <th>Essais A</th>
        <th>Bonus A</th>
        <th>Bonus B</th>
        <th>Essais B</th>
        <th>Score B</th>
        <th>&Eacute;quipe B</th>
        <th>Drop</th>
        <th>Carton</th>
        <th>Bagarre</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      {% for m in match %}
      <tr class="info" id="{{m.id}}">
        <td>{{m.cup_round}}</td>
        <td><a href="#" class="toggler" data-betwit-matchid="{{m.id}}">+</a></td>
        <td>{{m.date|date:'j-M H:i'}}</td>
        <td>{{m.home_team.name}}</td>
        <td>{{ m.home_team_score|default_if_none:"0" }}</td>
        <td>{{ m.home_team_tries|default_if_none:"0" }}</td>
        <td>{{ m.home_team_bonus }}</td>
        <td>{{ m.away_team_bonus }}</td>
        <td>{{ m.away_team_tries|default_if_none:"0" }}</td>
        <td>{{ m.away_team_score|default_if_none:"0" }}</td>
        <td>{{m.away_team.name}}</td>
        <td>{% if m.card %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td>{% if m.drop_goal %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td>{% if m.fight %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td></td>
      </tr>
        {% for b in bet %}
          {% if b.match.id == m.id %}
      <tr class="round{{m.id}}" style="display:none">
        <td></td>
        <td colspan="2">{{b.player.username|capfirst}}</td>
        <td>{% if b.home_team_score > b.away_team_score %}V{% elif b.home_team_score < b.away_team_score %}D{% else %}N{% endif %}</td>
        <td>{{ b.home_team_score|default_if_none:"0" }}</td>
        <td>{{ b.home_team_tries|default_if_none:"0" }}</td>
        <td>{{ b.home_team_bonus }}</td>
        <td>{{ b.away_team_bonus }}</td>
        <td>{{ b.away_team_tries|default_if_none:"0" }}</td>
        <td>{{ b.away_team_score|default_if_none:"0" }}</td>
        <td>{% if b.home_team_score > b.away_team_score %}D{% elif b.home_team_score < b.away_team_score %}V{% else %}N{% endif %}</td>
        <td>{% if b.drop_goal %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td>{% if b.card %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td>{% if b.fight %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
        <td>{{b.points_won}}</td>
      </tr>
          {% endif %}
        {% endfor %}
      
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
