{% extends 'base.html' %}

{% block title %}
<h2>Tournament {{ tournament.name }} - {{ tournament.year }}</h2>
{% endblock %}

{% block content %}
{% if error_message != None %}
<div>
    <p>{{ error_message }}</p>
    <a href="{{ tbet_button_url }}" class="btn btn-default">{{ tbet_button_title }}</a>
</div>
{% else %}
<div class="row clearfix">                          
  <table class="table" width="100%" cellspacing="0">
  <!--table data-toggle="table"-->                  
    <thead>                                         
      <tr>
        <td></td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.player_id.username }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.first_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Second</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.second_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Third</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.third_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Fourth</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.fourth_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Fifth</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.fifth_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Sixth</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.sixth_team.name }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Grand Slam</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.grand_slam }}<td>
        {% endfor %}
      </tr>
      <tr>
        <td>Wooden Spoon</td>
        {% for tbet in tbet_list %}
        <td>{{ tbet.wooden_spoon }}<td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
<h4>Choissisez un match sur lequel parier</h4>
<div>
    <a href="{{ mbet_button_url }}" class="btn btn-default">{{ mbet_button_title }}</a>
</div>
{% endblock %}
