{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
<ul class="nav nav-tabs">                                                    
  <li class="active"><a data-toggle="tab" href="#results">{{ tournament.name }} - {{ tournament_year }}</a></li> 
  <li><a data-toggle="tab" href="#teams">&Eacute;quipes</a></li>             
  <!-- hide rules on xsmall screen because it is diplay on 2nd line-->
  <li class="hidden-xs"><a data-toggle="tab" href="#rules">Classement</a></li>
</ul>
<div class="tab-content">
  <div id="results" class="tab-pane fade in active">
  {% if match_list %}
    <table class="table" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td>Round</td>
          <td>Match</td>
          <td>&Eacute;quipe A</td>
          <td>Date</td>
          <td>&Eacute;quipe B</td>
        <tr>
      </thead>
      <tbody>
        {% for m in match_list %}
        <tr class="info" id="{{m.id}}">
          <td>{{m.cup_round}}</td>
          <td><a href="#" class="toggler" data-betwit-matchid="{{m.id}}">+</a></td>
          <td>{{m.home_team_id.name}}</td>
          <td>{{m.date|date:'j-M H:i'}}</td>
          <td>{{m.away_team_id.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    Aucun match correspondant
  {% endif %}
  </div>
  <div id="teams" class="tab-pane fade">
  {% if team_list %}
    <table class="table" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td>Nom</td>
          <td>Nationalit&eacute;</td>
        </tr>
      </thead>
      <tbody>
        {% for e in team_list %}
        <tr>
          <td><a href="{% url 'tournaments:team_detail' e.id %}">{{ e.name }}</a></td>
          <td>{{ e.nationality }}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    Aucune &eacute;quipe renseign&eacute;e
  {% endif %}
  </div>
  <div id="rules" class="tab-pane fade">
  </div>
{% endblock %}


