{% extends 'base.html' %}

{% block content %}
<div>
    <h4>&Agrave; propos</h4>
    <p>Le championnat de pari &quot; B&ecirc;tes Clics &quot; est un concours de pronostics associ&eacute; aux r&eacute;sultats du tournoi des 6 nations 2018. Il portera donc sur les 15 matches du tournoi, et opposera des joueurs d’horizon tr&egrave;s diff&eacute;rent.</p>
    
    Vous trouverez dans ce site :
    <ul>
        <li>Le calendrier du tournoi</li>
        <li>La présentation des équipes nationales</li>
        <li>Le règlement de l’édition 2018</li>
        <li>La présentation des candidats</li>
        <li>Les analyses (ou humeurs) des orgnaisateurs</li>
        <li>Les commentaires des participants</li>
    </ul>
    <p>Les formulaires pour exprimer ses paris et ses pr&eacute;f&eacute;rences sont r&eacute;serv&eacute;es aux participants. Pour faire partie de cette élite, il faut montrer patte blanche via le formulaire de contacte</p>
</div>

{% endblock %}
