{% extends 'base.html' %}

{% block content %}
<div>
    <h4>&Agrave; propos</h4>
    <p>Betwit est le site qui vous fera parier sur le rugby en toute d&eacutecontraction. Humour, tension, mauvaise foi, magouille, admiration sont les sentiments partageacutes par les pronostiqueurs de ce site. N&eacute de notre amour du tournoi des 6 nations et du plaisir de ridiculiser notre prochain, Betwit s'emploie maintenant à couvrir les coupes du monde ! Choisissez donc votre &eacutev&eacutenement, vos concurrents, et faites appel à votre french flair pour tomber juste !</p>
    
    Vous trouverez dans ce site :
    <ul>
        <li>Les calendriers des &eacutev&eacutenements</li>
        <li>Le règlement de BETWIT</li>
        <li>Les analyses (ou humeurs) des organisateurs</li>
        <li>Les commentaires des participants</li>
    </ul>
    <p>Les formulaires pour exprimer ses paris et ses pr&eacute;f&eacute;rences sont r&eacute;serv&eacute;es aux participants. Pour faire partie de cette élite, il faut montrer patte blanche via le formulaire de contact.</p>
</div>

{% endblock %}
