{% extends 'base.html' %}

{% block content %}
<div>
    <h4>&Agrave; propos</h4>
    <p>Betwit est le site qui vous fera parier sur le rugby en toute d&eacute;contraction. Humour, tension, mauvaise foi, magouille, admiration sont les sentiments partag&eacute;s par les pronostiqueurs de ce site. N&eacute; de notre amour du tournoi des 6 nations et du plaisir de ridiculiser notre prochain, Betwit s'emploie maintenant &agrave; couvrir les coupes du monde ! Choisissez donc votre &eacute;v&eacute;nement, vos concurrents, et faites appel &agrave; votre french flair pour tomber juste !</p>
    
    Vous trouverez dans ce site :
    <ul>
        <li>Les calendriers des &eacute;v&eacute;nements</li>
        <li>Le r&egrave;glement de BETWIT</li>
        <li>Les analyses (ou humeurs) des organisateurs</li>
        <li>Les commentaires des participants</li>
    </ul>
    <p>Les formulaires pour exprimer ses paris et ses pr&eacute;f&eacute;rences sont r&eacute;serv&eacute;es aux participants. Pour faire partie de cette &eacute;lite, il faut montrer patte blanche via le formulaire de contact.</p>
</div>

{% endblock %}
