{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="col-md-12" id="countdown">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td colspan=4>Prochain match</td>
                    </tr>
                    <tr>
                        <td colspan=4>{{ content.cntdn.home_team }} vs {{ content.cntdn.away_team }}</td>
                    </tr>
                    <tr>
                        <td colspan=4 id="cntdn_msg"></td>
                    </tr>
                    <tr>
                        <td>Jours</td>
                        <td>Heures</td>
                        <td>Minutes</td>
                        <td>Secondes</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="cntdn_j">00</td>
                        <td id="cntdn_h">00</td>
                        <td id="cntdn_m">00</td>
                        <td id="cntdn_s">00</td>
                    </tr>
                </tbody>
                
            </table>
                <script language="JavaScript">
                    TargetDate = "{{ content.cntdn_tgd | date:'m/d/Y H:i' }} ";
                    BackColor = true;
                    ForeColor = true;
                    CountActive = true;
                    CountStepper = -1;
                    LeadingZero = true;
                    DisplayFormat = "%%D%% &nbsp; %%H%% &nbsp; %%M%% &nbsp; %%S%%";
                    FinishMessage = "Le match vient de commencer";
                </script>
        </div>
        <div class="col-md-12">
            <!--C'est lemplacement du classement betwit-->
        </div>
        <div class="col-md-12">
            <!--C'est l'emplacement des resultats du tournoi des 6 nations-->
        </div>
    </div>
    <div class="col-md-9">
            {% for entry in content.entries %}
            <div class="row">
                <div class="col-sm-10 blog-main">
                    <div class="blog-post">
                        <h2 class="blog-post-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>{% if not entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h2>
                        <p class="blog-post-meta">{{ entry.published_timestamp|date:"DATE_FORMAT" }}{% if entry.author %} by {{ entry.author }}{% endif %}</p>
                        <p>
                            {% if entry.preview_content %}
                                {% if entry.preview_image %}
                                    <a href="{{ entry.get_absolute_url }}"><img src="{{ entry.preview_image.url }}" alt="Preview image for {{ entry.title }}" class="img-responsive"/></a>
                                {% endif %}
                                {{ entry.preview_content }}
                            {% else %}
                                {# Truncate derived from: Avg reading speed (3.33 words/s) * Average attention span (8s) #}
                                {{ entry.content|truncatewords_html:26 }} <a href="{{ entry.get_absolute_url }}">(More...) {% include "andablog/comments_count_snippet.html" with comment_object=entry %}</a>
                            {% endif %}
                        </p>
                    </div><!-- /.blog-post -->
                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
