{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Betwit</title>

		<link rel="stylesheet" href="{% static 'css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme/white.css' %}" id="theme">

		<link rel="stylesheet" href="{% static 'lib/css/zenburn.css' %}">

	</head>
    <body> <!--class="reveal-viewport a theme-color-black-orange"-->
		<div class="reveal">
			<div class="slides">
                <section data-transition="default">
                    <div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 140px; height: auto;">
                        <div class="sl-block-content" data-placeholder-tag="h3" data-placeholder-text="Title Text">
                            <h3>Pr&eacute;sentation des participants</h3>
                            <p><span>2018</span></p>
                            <p></p>
                            <p><span style="color:#FFD700"><span style="font-size:1.2em">Brieg</span></span></p>
                        </div>
                    </div>
                </section>
                <section data-transition="default"  data-background-image="https://d23edptumle2yv.cloudfront.net/blog_posts/images/338/1363143012/default.jpg" data-state="dimbg"><!--/section> data-background-size="30%" data-background-position="0% 0%"-->
                    <h3>Brieg Ker’Driscoll</h3>
                    <p><span style="font-size:0.6em">Je me présente : Brieg, humble serviteur de vos événements rugbystiques. 
                        Baigné à l’odeur des raclées inhérentes aux France-Angleterre, élevé dans le culte de la passe-assise et des mêlées désordonnées, 
                        je traîne mon baluchon dans tous les clubs de France et viens juste d’atterrir à La Baule, là où personne ne connaît encore ma réputation de coffre à ballon. 
                        J’occupe mes journées à fouetter des ukrainiens à souder des tuyaux et passe mes soirées à me faire fouetter par ma fille qui veut jouer à la dînette et fait du cheval 
                        sur ma tête. J’espère convaincre les derniers résistants de ce groupe que Bastareaud est un cochon et que le Mont Saint Michel est breton. 
                                            
                        A votre service.</span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/M4SzdM.png" data-state="dimbg">
                    <h3>C&egrave;&egrave;&egrave;d</h3>
                    <p><span style="font-size:0.6em">
                            Cedric est la tête pensante de ce site internet. Problème : il ne parle maintenant que en 1 et 0 à force de traîner dans ses codes. 
                            «  - Cédric passe moi le Kig ha farz ! (on est à quimper)
                             - 10011010 »
                            Je le soupçonne cette année de coder un calcul différent du mien, pour être assuré d’être devant sa femme au classement général. 
                            Mais même battu, il se consolera en finissant toutes les chouffes du frigo tout seul. 
                            A part cela, Cédric n’a qu’un malheur dans sa vie : les escargots qui mangent son potager. Il a beau tenter un « CTR+ALT+SUPP » rien ne marche.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/devoiss.png" data-state="dimbg">
                    <h3>Devoiss'</h3>
                    <p><span style="font-size:0.6em">
                        Romain est un habitué des joutes rugbystiques. 
                        A force de mettre la tête là où d’autres ne mettent pas les mains, il a perdu toute sa chevelure de jeunesse. 
                        Son front est maintenant mieux lustré pour des coups de têtes bien sentis et il se targue d’avoir tout appris à Trinh Duc lors de ses années rugbystiques du Pic Saint Loup. 
                        Maintenant il préfère inonder le monde entier de pétrole en toute impunité
                    </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/max.jpg" data-state="dimbg">
                    <h3>Max</h3>
                    <p><span style="font-size:0.6em">
                        Maxime est un vrai joueur de rugby avec des chevilles qui ont déjà été tordu l’équivalent de trois tours et demi. 
                        International Sénégalais mais blanc comme un cul, la dernière fois qu’il a été vu sur un terrain de rugby, 
                        il avait la lumière éteinte et ne se souvenait pas d’avoir plaqué le genou adverse avec sa tête. 
                        C’est surement une vengeance de son adversaire fatigué d’entendre sa petite voix ironique le chambrer tout le match. 
                        « hé le 12 t’es qu’une merde. »  « Le 15 tu devrais faire des pompes t’es qu’une crevette ». 
                        Voici le genre de phrase préférée de Max qui a toujours préféré foutre la merde, 
                        et ce depuis l’école Centrale Marseille où sous ses conseils avisés on allumait les lances à incendie. 
                    </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/bapt.png" data-state="dimbg">
                    <h3>Baaapt</h3>
                    <p><span style="font-size:0.6em">
                        Baptiste est un Clermontois convaincu. Convaincu que la ville de Clermont a encore la côte. 
                        Il a déjà ça d’admirable, en plus de sa faculté à faire des pompes sur toutes les chaises qu’il croise. 
                        Amoureux de la vitesse au point de foncer sur les voitures à l’angle de la rue Mademoiselle, 
                        il a néanmoins besoin de motorisation pour aller vite, ses faibles mollets ne lui permettant pas d’envisager la moindre accélération. 
                        Désormais futur papa, il attend patiemment de connaître la taille de son bébé pour lui glisser un maillot de Rougerie à sa pointure, 
                        et fait quelques apparitions sur BFM TV.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/gus.png" data-state="dimbg">
                    <h3>Gus</h3>
                    <p><span style="font-size:0.6em">
                        Hugues est un one man show à lui tout seul. 
                        Mettez le au milieu d’un groupe et vous êtes surs de rigoler, 
                        mais aussi de devoir participer au carnaval de Langogne dans le trou du cul du monde de la Lozère, 
                        où l’alligot est autant pratiqué que les rapports intimes avec les chèvres. 
                        Son plus bel acte rugbystique fut de sortir en première mi-temps d’un match parce qu’il avait froid aux pieds. 
                        Il n’en reste pas moins le fidjien de la 2ème ligne la plus stylée de Centrale Marseille.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/tuc.png" data-state="dimbg">
                    <h3>Tuc</h3>
                    <p><span style="font-size:0.5em">
                        Tugdual nous fait l’honneur de sa venue. Sportif émérite quand il se fait pourchasser à 3h du matin dans les rues de Paris, 
                        il préfère néanmoins la pause café+clope+café+clope+pinte+clope+pinte+clope+pinte+clope+pinte avant justement de se refaire pourchasser 
                        à 3h du matin dans les rues de Paris. 
                        Grand philosophe des temps moderne, il pense que l’indécision est la plus belle demeure d’un esprit sauvage, et estime donc que le choix est la pire erreur de l’homme. 
                        C’est bien pour cela qu’il n’a pas encore choisi s’il devait être droitier ou gaucher, s’il devrait aller d’abord à la bibliothèque avant d’aller à la poste, 
                        ou encore s’il fallait mieux calculer 2+3 ou 3+2 pour arriver à 5. 
                        Sa carrière rugbystique étant maintenant terminée depuis qu’on le croit talonneur, le rugby n’existe pour lui que lors du tournoi des 6 nations, 
                        même s’il aura beaucoup de mal à choisir à chaque pari : France, ou Galles ? Ou Ecosse ? Ou Irlande ? Ou Italie ? Ah non pas l’Angleterre par contre !
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/theo.png" data-state="dimbg">
                    <h3>Th&eacute;o</h3>
                    <p><span style="font-size:0.6em">
                        Théo renouvelle son abonnement aux paris Guyon and Co. 
                        Grand connaisseur de l’Ecosse pour avoir fait 32 en-avant là-bas, 
                        il ne résistera pas à la tentation de planter la première place du classement général en oubliant de parier sur la dernière rencontre, 
                        trop occupé à récupérer de sa soirée « Moustache et chemise en papier peint de maison de grand-mère ».  

                        Supporter d’un club de ProD2, le Stade Toulousain, il vénère toujours son idole tant par son jeu élégant que par son intelligence philosophique : Florian Fritz
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/lulu.png" data-state="dimbg">
                    <h3>Lulu</h3>
                    <p><span style="font-size:0.6em">
                        Lucile Guyon est née Brassens. Un imbécile lui a volé son patronyme moustachu contre toute attente. 
                        Pire ! Il l’a dénaturée ! Adepte de Fast and Furious et du bruits des cigales, 
                        voilà maintenant Lucile vêtue de bottes à La Baule faisant de la pêche à pied au son des cornemuses. 
                        Son passe-temps favori maintenant est de compter les fondants au chocolat qu’achètent les riches parisiens qui paient nos factures d’électricité. 

                        Sa connaissance du rugby se limitant à Daniel Carter, elle risque d’être déçue de ne le voir sur aucun match. 
                        Matches qu’elle aura l’obligation de regarder puisque c’est moi qui réquisitionne la télécommande pour les mois de Février et Mars. 
                        Sauf les soirs de Fast and Furious. No way, dude.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/jack.png" data-state="dimbg">
                    <h3>Jack</h3>
                    <p><span style="font-size:0.6em">
                        Jack est toujours anglais, ça n’a pas changé. 
                        C’est une sorte de maladie incurable dont il n’a pas réussi à se défaire, malgré ses nombreuses conquêtes françaises censées régénérer son sang rose-beef. 
                        Il traîne son accent dans les campagnes cotentine, mais les radiations nucléaires de Flamanville ont commencé leurs effets : le voilà devenu sympathique. 

                        Habitué de ce tournoi des paris où seule m’intéresse sa nature anglaise, 
                        il n’hésite évidemment pas à parier sur la perfide Albion et sur un Ash Splash de ce salopard de Chris Ashton.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/klm.png" data-state="dimbg">
                    <h3>KLM</h3>
                    <p><span style="font-size:0.6em">
                        Quentin a une qualité qui saute aux yeux : il est costarmoricain (breton du ch’nord pour les incultes). 
                        Passé ce premier constat, il faut attendre la troisième pinte pour retrouver des qualificatifs avantageux. 
                        Au jour le jour, il insulte tout le monde sur le chantier du haut de sa cheminée de paquebot, 
                        entourés de ses bulgares en gueulant que « c’est tous des merdes » de la manière la plus diplomate. 
                            
                        Il apprend à connaître le rugby par les exploits du RCVannes et de sa fondue de Mamie Patate.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/titine.png" data-state="dimbg">
                    <h3>Titine</h3>
                    <p><span style="font-size:0.6em">
                        Tiphaine ne peut pas boire de bière. Une pudeur néo-soixante-huitarde supra-médicinal soi-disant pour protéger son fœtus des vertus pourtant indiscutable de l’alcool. 
                        Heureusement que Lucille n’a pas fait pareil pour ma fille, elle serait moins drôle maintenant. 
                        En tous cas Tiphaine est la seule à se réjouir du niveau catastrophique de la France, car au moins il n’y aura aucune raison de sortir les bières pour fêter la victoire. 
                        D’autant qu’à la vue d’une bière elle devient très irritable, et menace de vous ôter un rein.
                        Cette année elle participera au tournoi des 6 nations, mais seulement en Juillet quand France 2 diffusera le match à Quimper.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/marcel.png" data-state="dimbg">
                    <h3>Marcel</h3>
                    <p><span style="font-size:0.6em">
                        Pierre a accepté de sortir de sa cuisine pour faire quelques paris. 
                        Il estime donc que les veloutés d’asperges au mascarpone vont mener 6-0 contre la noix de muscade et le radis noir. 
                        A l’époque où son genou s’articulait sans bafouiller, il était plutôt amateur de marron et de soupe de châtaignes en mêlée. 
                        Dommage maintenant que son 3ème bras radioactif ne lui serve qu’à battre les œufs en neige ou tenir les rênes de ses chevaux. 

                        Il est fier d’être le seul représentant de la gitanie languedocienne en terres normandes et s’affichent avec ses 6 voitures et ses deux caravanes.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/valerie.png" data-state="dimbg">
                    <h3>Val&eacute;rie</h3>
                    <p><span style="font-size:0.6em">
                        Valérie peut se targuer d’avoir battu tous les Guyon en 1 contre 1 au rugby. 
                        Seul Maa-Nonu peut aussi s’en vanter. Bon, certes à l’époque nous avions 9 ans et 40 kilos cumulés, mais l’exploit reste bien réel ! 
                        Sportive accomplie, Valérie travaille maintenant à l’oeil au bel hopital de Saint Nazaire. En tant qu’ophtalmo, 
                        elle aura évident un œil attentif sur les résultats du tournoi, et ne pariera que sur Sergio Parisse, capitaine du Stade Français.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/sustrac.png" data-state="dimbg">
                    <h3>Sustrac</h3>
                    <p><span style="font-size:0.6em">
                        « Je suis plus breton que toi, je suis né dans le 14ème ». Quand un parisien vous sort ça, ça fait très mal au cœur. 
                        Sustrac ne déroge pas à la règle du parisien qui fait de la planche à voile en Bretagne et qui achète des huîtres dans les brasseries de Paris. 
                        Chasseur émérite, il tente maintenant la chasse à la baleine au Harpon en lançant des bout de ferraille depuis sa plate-forme pétrolière gabonaise, 
                        ou en utilisant la pétoire du papy Sustrac. 
                        Mais il est écolo, vote vert à la mairie du 18ème, et rentre en vélib quand il est bourré après 7 pintes de chouffe.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/charles.jpg" data-state="dimbg">
                    <h3>Charles</h3>
                    <p><span style="font-size:0.6em">
                        Charles est le médecin de campagne préféré des petites vieilles picardes. 
                        Il arrive toujours à l’heure, écoute aimablement les histoires du chat de la voisine, met une petite piqûre, 
                        embarque les billets de sa consultation à 250 euros et rentre à Compiègne pour sa véritable passion du moment : faire des films sur son quotidien. 

                        On a eu « Charles fait une soupe, charles plante un clou, Charles répare l’imprimante, Charles fait du tri sélectif, Charles fait de la danse classique, 
                        Charles boit du Pinart tout seul dans son coin ». Nous aurons maintenant « Charles tente de faire des paris sans se planter ».
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/steven.png" data-state="dimbg">
                    <h3>Steven</h3>
                    <p><span style="font-size:0.6em">
                        Steven est là depuis si longtemps que plus personne ne se rappelle de sa première incrustation dans la famille. 
                        Présent sur toutes les photos de famille, tout le monde a la même réaction : c’est qui ce gars-là sur le côté ? 
                        Et bah c’est Steven de Dinan. Banni par la famille Guyon fatigué de lui prêter son bout de plage, 
                        Steven est parti faire le tour d’Europe en vélo. Encore un copain de Tugdual qui a des idées lumineuses. 
                        Mais pour le coup Steven est parti tout seul, mais est revenu en tandem avec une polonaise qui le couche à la vodka. 
                        Encore un Guyon qui ne sait pas boire…
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/engueran.jpg" data-state="dimbg">
                    <h3>Engueran</h3>
                    <p><span style="font-size:0.6em">
                        Quand quelqu’un vient du département inutile et inconnu des Deux-Chèvres, il vit déjà une enfance compliquée. 
                        Ce provincial a voulu tenter de conquérir Paris et ses minettes, mais son passé de cul-terreux est difficile à effacer. 
                        D’un enthousiasme exceptionnel, il ponctue chaque proposition qu’on lui fait d’un fameux :
                        « Hum… Mouais… bof »
                        Requinqué par la victoire de Notre Dame de Landes où il a passé ses 3 dernières années de chômage à planter des choux, 
                        il veut maintenant remporter la victoire de notre championnat entre deux pintes et un burger au comptoir de la rue Vaugirard (MON bar en l’occurrence, sors de chez moi).
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/catalan.png" data-state="dimbg">
                    <h3>Catalan</h3>
                    <p><span style="font-size:0.6em">
                        Cata a pris goût à la politique depuis que Puidgemont ne veut plus être espagnol. 
                        Comme plus personne ne veut en France de ces ânes catalans, on l’a poussé à fomenter une rébellion côté français pour la réunification à la Catalogne espagnole. 
                            Il a été choisi parmi ses confrères pour sa prose et ses talents d’orateurs.
                            «  - On va jouer dans le sens !
                             - BRAVO !!!!
                             - Et David Marty sera notre guide et ministre de la santé !
                             - OUAIS ! UUUUUUSAAAAAPUUUUUUUSAAAAAAP »
                            Côté rugby, il fera en sorte que le Barça finance l’USAP avant que celui-ci ne tombe en Fédérale 2. 
                            Le dernier exploit de Catalan sur un terrain de rugby a été de désaxer son avant-bras de son bras selon un angle défiant les lois de la physique. 
                            Et de se coller une murge le soir même avec son plâtre.
                            Je vous dis, on ne veut plus de ces ânes catalans.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/petitcatalan.jpg" data-state="dimbg">
                    <h3>P'tit Catalan</h3>
                    <p><span style="font-size:0.6em">P’tit catalan participer encore cette année avec le même objectif : foutre une race à son grand bête de frère et ex-collocataire. Il tentera donc de bourrer la gueule de Catalan toutes les veilles de matches avec un apéro ricard pour qu’il oublie de parier. Pour parfaire sa connaissance du rugby et remporter la mise, il a disséqué dernièrement un joueur international retraité pour comprendre les facultés physiologiques d’un rugbyman. Dommage qu’il ait choisi David Marty puisque son étude n’a pas donné de résultat. 
                    </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/matthias.png" data-state="dimbg">
                    <h3>Mathias</h3>
                    <p><span style="font-size:0.6em">
                        Mathias est un copain de Tugdual.
                            J’arrête là cette première phrase et prends une grande inspiration. Un ami de Tugdual toujours présent ? 
                            Exploit ! Il faut savoir que Tugdual considère comme « ami » ceux qui ont connu les aventures suivantes :
                             - Tugdual leur doit 200 euros cumulés correspondant aux soirées où il a perdu sa carte bancaire au fond de sa pinte
                             - Tugdual a squatté chez eux au minimum 145 nuits
                             - Tugdual leur a piqué un T-shirt mais comme il a oublié son pull chez lui, ça vaut. Mais le pull est troué au niveau du coude.
                            Être ami de Tugdual nécessite donc une bonne dose de philosophie et un humour prêt à toutes épreuves.
                            Bienvenue dans notre championnat.
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/eriklerouge.png" data-state="dimbg">
                    <h3>Erik le Rouge</h3>
                    <p><span style="font-size:0.6em">
                        Erik le rouge participe pour la 3ème fois à ce championnat. 
                        Après une première calamiteuse, il a fait une belle campagne l’année dernière. Qu’en sera-t-il cette fois-ci ?
                            Un foirage total en pronostiquant l’Italie 1ère ?
                            Ou bien une lucidité incroyable en trouvant toutes les combinaisons gagnantes ? Personne ne sait de quoi il est capable à chaque édition.
                            Mais ce viking n’a qu’une peur : que le ciel ne tombe sur la centrale de Flamanville et le béton se fissure. 
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/neve.png" data-state="dimbg">
                    <h3>Neve</h3>
                    <p><span style="font-size:0.6em">
                        Neve est notre Chabal à nous. Disons un Chabal qui aurait perdu 40 kilos de muscles et récupéré quelques uns de graisse. 
                        C’est un sosie capillaire, soit. La spécialité rugbystique de Nevenoe était de garder le ballon entre ses doigts crochus quoi qu’il arrive. 
                        Que vous soyez contre ou avec lui, impossible de lui récupérer le ballon. C’est un style.
                            Nevenoe traîne maintenant sa démarche chaloupée à travers le canton de Dinard pour bichonner les jardins des parisiens en vacances. 
                            Pour ce tournoi de Paris, il essaiera de choper le Wifi Internet de saint-Lunaire, debout sur le banc public et 
                            orienté vers la fenêtre de l’aile sud de la bibliothèque entre 8h45 et 9h10. Son défi sera donc d’être efficace et assidu dans ses paris !
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/118218.png" data-state="dimbg">
                    <h3>118-218</h3>
                    <p><span style="font-size:0.6em">
                        Voilà bien un mec qui pèèèèèèèèèèèse. Du moins au chantier. Sorti de cet univers, Geoffrey reste le mec qui vient de Dijon et de Brest confondu, plus dur à valoriser. 
                        Capable de citer de tête tous les noms des habitants de Loire-Atlantique et leurs numéros de téléphone (hors Moyon, Mahé, et Vince qui constituent 90% de la région), 
                        et de mettre des paniers à trois points en chaussure de sécurité, il va devoir se frotter aux as du jeu pour participer à notre championnat. 
                        Mais comme c’est un mec qui pèèèèèèèèse, il risque bien de gagner !
                        </span></p>
                </section>
                <section data-transition="default" data-background-image="/media/presentation/matelot.png" data-state="dimbg">
                    <h3>Matelot</h3>
                    <p><span style="font-size:0.6em">
                        Le soldat Coindreau a repris la mer. Officiellement pour pomper le pétrole des eaux gabonaise, mais il a en vérité une mission bien plus secrète : 
                        fomenter un coup d’état et reprendre en main le pays au nom de la France. 
                        Aidé de ses deux esclaves négresses, il a déjà pris le commandement de sa plate-forme pétrolière et s’est auto-proclamé amiral. En guise de représailles, 
                        l’état gabonais a emprisonné ses 50 enfants métisses et a encerclé le repère du pauvre Charles, obligé de se défendre en jetant des ouvriers enflammés 
                        par dessus bord. Un drame.
                        Heureusement il a le wifi sur sa plate-forme pour pouvoir parier.</span></p>
                </section>
            </div>
        </div>

        
        <script src="{% static 'lib/js/head.min.js' %}"></script>
        <script src="{% static 'js/reveal.js' %}"></script>   

        <script>
            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                history: true,

                //width: "100%",
                //height: "100%",
                //margin: 0,
                //minScale: 1,
                //maxScale: 1,

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    { src: "{% static 'plugin/markdown/marked.js' %}" },
                    { src: "{% static 'plugin/markdown/markdown.js' %}" },
                    { src: "{% static 'plugin/notes/notes.js' %}", async: true },
                    { src: "{% static 'plugin/highlight/highlight.js' %}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ],
                transitionSpeed: 'convex',
                backgroundTransition: 'default',
            });
        </script>
    </body>
</html>


	<body class="reveal-viewport a theme-color-black-orange">
		<div class="reveal">
			<div class="slides">
				<section>
                    <div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 140px; height: auto;" data-block-id="584ce902d60dd9cabe5347d331feac0e">
                        <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
                            <h3>Pr&eacute;sentation des participants</h3>
                            <p><span>2018</span></p>
                            <p></p>
                            <p><span style="color:#FFD700"><span style="font-size:1.2em">Brieg Guyon</span></span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 140px; height: auto;" data-block-id="6d5095dbac095cbb135ca96cf27da692">
                        <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
                            <h3>What we've got now</h3>
                        </div>
                    </div>
                </section>

        
                
