{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
  </head>
  
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BetWit</a>
      </div>

      <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
          <li ng-class="pageClass('/')"><a href="/">R&eacute;sultats tournoi VI 2016</a></li>
          <li ng-class="pageClass('/add-contact')"><a href="/ranking">Classement</a></li>
          <li ng-class="pageClass('/add-contact')"><a href="/prognosis">Paris</a></li>
          <li ng-class="pageClass('/add-contact')"><a href="/rules">R&egrave;glement</a></li>
          <li ng-class="pageClass('/add-contact')"><a href="/login/">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <p class="navbar-text navbar-right">Footer</p>
    </p>   
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
