{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
  <div class="col-md-12 column"> 
    {% if errors %}
    <ul>
      {% for error in errors %}
      <li>{{ error }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}


    <!--<fieldset class="module aligned ">-->
    {% if form %}
    <form method="post" action="">{% csrf_token %}
      <div class="col-md-8 col-md-offset-2">

        {% for field in form %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
        <div>
          <input type="submit" value="post">
        </div>
      </div>
    </form>
    {% endif %}
    <!--</fieldset>-->
    <!--<div class="submit-row">
      <input type="submit" value="Save" class="default" name="_save" />
    </div>-->
  </div>
</div>
{% endblock %}
