{% extends "base.html" %}
{% block content %}
<div class="row clearfix">
  <div class="col-md-12 column">
    {% if errors %}
    <ul>
      {% for error in errors %}
      <li>{{ error }} </li>
      {% endfor %}
    <ul>
    {% endif %}
    <form method="post" action="" class="form-horizontal">{% csrf_token %}
      <div class="form-group">
        <table>
          <tr>
            <td><label for='id_username'>Username: </label></td>
            <td><input id="id_username" maxlength="254" name="username" type="text" /></td>
          </tr>
          <tr>
            <td><label for='id_password'>Password: </label></td>
            <td><input id="id_password" name="password" type="password" /></td>
          </tr>
        </table>
        <!--button class="btn btn-lg btn-primary btn-block" type="submit">Login</button-->
        <input type="submit" value="post">
      </div>
    </form>
  </div>
</div>
{% endblock %}   
