{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-3 column">
    <h3>Pronostic classement tournoi</h3>
    <div class="table-responsive">
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Rang</th>
            <th>&Eacute;quipe</th>
          </tr>
        </thead>
        <tbody>
          {% for r in betcup %}
          <tr>
            <td>1</td>
            <td>{{ r.first }}</td>
          </tr>
            <td>2</td>
            <td>{{ r.second }}</td>
          <tr>
          </tr>
            <td>3</td>
            <td>{{ r.thrid }}</td>
          <tr>
          </tr>
            <td>4</td>
            <td>{{ r.fourth }}</td>
          <tr>
          </tr>
            <td>5</td>
            <td>{{ r.fifth }}</td>
          <tr>
          </tr>
            <td>6</td>
            <td>{{ r.sixth }}</td>
          <tr>
          </tr>
            <td>Grand Chelem</td>
            <td>{{ r.grand_slam }}</td>
          <tr>
          </tr>
            <td>Cuillère de bois</td>
            <td>{{ r.wooden_spoon }}</td>
          <tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> <!-- end of first col-md-6-->

  <div class="col-sm-9 column">
    <h3>Mes paris sur les match</h3>
    <div class="table-responsive">
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Tour</th>
            <th>Date</th>
            <th>&Eacute;quipe A</th>
            <th>&Eacute;quipe B</th>
            <th>Score A</th>
            <th>Score B</th>
            <th>Essais A</th>
            <th>Essais B</th>
            <th>Drops</th>
            <th>Cartons</th>
            <th>Bagarres</th>
          </tr>
        </thead>
        <tbody>
          {% for b in bets %}
          <tr>
            <td>{{ b.cup_round }}</td>
            <td>{{ b.match_date }}</td>
            <td>{{ b.teamA }}</td>
            <td>{{ b.teamB }}</td>
            <td>{{ b.scoreA }}</td>
            <td>{{ b.scoreB }}</td>
            <td>{{ b.triesA }}</td>
            <td>{{ b.triesB }}</td>
            <td>{{ b.drop_goal }}</td>
            <td>{{ b.card }}</td>
            <td>{{ b.fight }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    {% for bet in bets %}
    <!--<div class="well">
        <span>{{ bet.scoreA }} vs {{ bet.scoreB }}</span>
    </div>-->
    {% endfor %}
  </div>
</div>
{% endblock %}

