{% extends "base.html" %}
{% block content %}
<div class="row">
  <h3>Mes Pronostics</h3>
  <div class="col-sm-3 column">
    <h3>Classement du tournoi</h3>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Rang</th>
            <th>&Eacute;quipe</th>
          </tr>
        </thead>
        <tbody>
          {% for r in betcup %}
          <tr>
            <td>1</td>
            <td>{{ r.first }}</td>
          </tr>
            <td>2</td>
            <td>{{ r.second }}</td>
          <tr>
          </tr>
            <td>3</td>
            <td>{{ r.thrid }}</td>
          <tr>
          </tr>
            <td>4</td>
            <td>{{ r.fourth }}</td>
          <tr>
          </tr>
            <td>5</td>
            <td>{{ r.fifth }}</td>
          <tr>
          </tr>
            <td>6</td>
            <td>{{ r.sixth }}</td>
          <tr>
        </tbody>
      </table>
      <p>Grand Chelem : {% if r.grand_slam %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</p>
      <p>Cuillère de bois : {% if r.wooden_spoon %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</p>
      {% endfor %}
    </div>
  </div> <!-- end of first col-md-6-->

  <div class="col-sm-9 column">
    <h3>Paris sur les matchs</h3>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Tour</th>
            <th>Date</th>
            <th>&Eacute;quipe A</th>
            <th>Score A</th>
            <th>Essais A</th>
            <th>Essais B</th>
            <th>Score B</th>
            <th>&Eacute;quipe B</th>
            <th>Drop</th>
            <th>Carton</th>
            <th>Bagarre</th>
          </tr>
        </thead>
        <tbody>
          {% for b in bets %}
          <tr>
            <td>{{ b.match.cup_round }}</td>
            <td>{{ b.match.match_date|date:'j-M H:i' }}</td>
            <td>{{ b.match.teamA }}</td>
            <td>{{ b.scoreA|default_if_none:"0" }}</td>
            <td>{{ b.triesA|default_if_none:"0" }}</td>
            <td>{{ b.triesB|default_if_none:"0" }}</td>
            <td>{{ b.scoreB|default_if_none:"0" }}</td>
            <td>{{ b.match.teamB }}</td>
            <td>{% if b.drop_goal %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
            <td>{% if b.card %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
            <td>{% if b.fight %}<span class="glyphicon glyphicon-ok-sign"></span>{% else %}<span class="glyphicon glyphicon-remove-sign"></span>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    {% for bet in bets %}
    <!--<div class="well">
        <span>{{ bet.scoreA }} vs {{ bet.scoreB }}</span>
    </div>-->
    {% endfor %}
  </div>
</div>
{% endblock %}

